* { /* basinställningar för sidorna: vit text, ingen padding eller margin, teckensnittet helvetica */
  margin: 0;
  padding: 0;
  color: white;
  font-family: helvetica;

}

a { /* länkarnas utseende */
  text-decoration: none;
  color: white;
}

p{ /* paragraftextens z-index, så att den inte blockeras av bilder eller liknande. */
  z-index: 3;
}

html, body {
  overflow-x: hidden;
  background-color: black;
}

/* styling för navigeringsmenyn. Ställer in en grå färg, hur mycket fetstil texten har, teckenstorlek, pressar ihop texten lite, z-index mm.   */
.nav-container {
  background-color: rgb(33, 33, 33);
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 30px;
  position: fixed;
  width: 100%;
  z-index: 5;



}

/* styling för loggan i navigeringsmenyn */
.logo {
  height: 80%;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3vw;
}

/* styling för länkarna i navigeringsmenyn */
.navlinks {
  list-style-type: none;
  display: flex;
  float: right;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.navlink {
  padding: 0px 3%;
}

/* ger sidans huvudinnehåll bakgrundsfärgen svart */
.index-container {
  background-color: black;
}

/* byter teckenstorlek och teckensnitt på startsidans huvudrubrik */
.indexh1 {
  font-size: 3.5em;
  font-family: itc-benguiat, serif;
}

.review-container{
  font-size: 2vw;
}

/* ger recensionen italic-stilen, centrerar den  */
.reviewtext {
  font-style: italic;
  margin: auto;

}

/* ställer in storleken och positionerar stjärnsymbolen bredvid seriens betyg */
.star {
  width: 1.5em;
  float: right;
  margin-left: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}

/* ställer in storleken och positionerar imdb-loggan */
.imdb {
  width: 3em;
  margin: auto;
}

 /* ställer in textstorleken, textmellanrummet och centrerar texten. */
.rating {
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  margin: auto;
}

/* ställer in storleken och positionerar startsidans stora bild */
.poster {
  width: 100%;
  margin-top: 15px;
}

/* ger div-elementet/containern för seasons-sidan svart bakgrund och gör överflödig innehåll synligt */
.seasons-container {
  background-color: black;
  overflow: visible;
}

/* ställer in storleken och z-index för de tre säsongs-affischerna. */
.simg {
  width: 100%;
  z-index: 3;
}

/* styling för säsongsidans huvudrubrik */
.seasonh1 {
  font-family: helvetica;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 300%;
  margin-top: 65px;
  text-align: center;

}

/* en div som endast agerar som bakgrundsfärg, grå. */
.background {
  background-color: rgb(33, 33, 33);
  z-index: 2;
}

/* h2-elementet för de olika säsongernas rubriker */
.sh2 {
  text-align: center;
  z-index: 5;
}

/* div/container för cast-sidans huvdinnehåll */
.cast-container {
  background-color: black;
  position: absolute;
  top: 130px;
}

/* ställer in storleken för skådespelarnas porträtt och gör de cirkulära */
.castimg {
  width: 80%;
  border-radius: 50%;
}

/* div-elementen för de olika karaktärernas information, grupperar bild och namn */
.character {
  text-align: center;
  width: 100%;
  margin: auto;
}



/* media-query för skärmar mindre än 800px i bredd */
@media screen and (max-width: 800px){

/* minskar padding och typsnitt på navigeryngsmenyns länkar */
  .navlink {
    padding: 0px 7px;
    font-size: 25px;
  }

  .navlinks {
    margin-left: auto;
    margin-right: 5%;
  }

/* gör indexsidans huvudrubrik lite större */
  .indexh1 {
    font-size: 2.7em;
  }



  .review-container{
    font-size: 4vw;
  }
}

/* media-query för skärmar mindre än 500px i bredd */
@media screen and (max-width: 500px){

/* minskar padding och typsnitt på navigeryngsmenyns länkar */


  .logo {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
  }

/* minskar padding på navigeringsmenyns flexbox */
  .navlinks {
    padding: 0px 0px;
  }

  .review-container{
    font-size: 4vw;
  }

  .nav-container{
    font-size: 5vw;
  }

  .navlink {
    font-size: 1em;
  }



}

/* centrerar länken som tar dig till toppen av sidan. */
.toplink {
  margin: auto;
  color: white;
}
